@layer custom {
  .right-sidebar-container {
    @apply sticky hidden top-[calc(var(--header-height)+1px)] h-[calc(100svh-var(--footer-height)+2rem)] w-72 flex-col gap-4 overflow-hidden overscroll-none pb-8 xl:flex;
  }

  .right-sidebar {
    @apply sticky z-30 w-72 flex-col gap-4 overflow-hidden overscroll-none pb-8 xl:flex;
  }

  .right-sidebar a {
    @apply text-muted-foreground hover:text-foreground text-[0.8rem] no-underline transition-colors data-[depth=3]:pl-4 data-[depth=4]:pl-6;
  }

  .right-sidebar a[aria-current='true'] {
    @apply text-foreground;
  }

  .right-sidebar ul {
    @apply flex flex-col gap-2 p-4 text-sm;
  }

  .right-sidebar h2 {
    @apply mt-8 flex items-center text-muted-foreground bg-background pl-4 h-6 text-xs -mb-1;
  }
}
